<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/CSS/bootstrap.css" rel="stylesheet" type = "text/css">
    <script src="/Content/JS/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="/Content/JS/scripts.js" type="text/javascript"></script>

    <title>Rock! Paper! Scissors!</title>
  </head>
  <body>
    <div class="container">
      <h1>Rock! Paper! Scissors!</h1>
      @RenderBody()
    </div>
  </body>
</html>
