@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Please Select Either Rock, Paper or Scissors to Play</h3>

<form action="/new-game" method="post">

  <label for="player1-Selection">Player 1: </label>
  <select class="form-control" name="player1-Selection">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select><br>

  <label for="player2-Selection">Player 2: </label>
  <select class="form-control" name="player2-Selection">
    <option name="John" value="Rock">Rock</option>
    <option name="Jordan" value="Paper">Paper</option>
    <option name="Cat" value="Scissors">Scissors</option>
  </select><br>

  <button type="submit" name="button">Battle!</button>

</form>
