@{
  Layout="Shared/_Layout.cshtml";
}
@if (@Model == "Draw")
{
  <h1>The game is a @Model!</h1>
}

  <h1>@Model Wins!</h1>

  <a href="/two-player">New Two Player Game<a/><br>
  <a href="/one-player"> New One Player Game<a/><br>
